.offer {
  background-color: #405d78;
  padding: 2.5% 0 2.5% 0;
}

.offer h1 {
  padding: 5% 3%;
  color: #fff;
  font-size: 26px;
}

.offer h3 {
  font-size: 24px;
}

.offer-description {
  width: 93%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #405d78;
  padding: 10% 0 7.5%;
  gap: 17px 17px;
}

.offer-boxes-item-dot {
  position: absolute;
  left: -10px;
  top: -10px;
  width: 38px;
  height: 38px;
  background-color: #e07a64;
  border-radius: 50%;
}

.grid-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 305px;
  height: 305px;
  background-color: #f1f1f1;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
  position: relative;
  align-self: center;
  justify-self: center;
}

.grid-item p {
  font-size: 18px;
  color: #000000;
}

.grid-item:hover {
  transform: scale(1.5);
  transition-duration: 0.5s;
}

@media (min-width: 768px) {
  .offer h1 {
    padding: 3% 0%;
    color: #fff;
    font-size: 36px;
  }

  .offer-description {
    width: 90%;
    grid-template-columns: 1fr 1fr;
    gap: 63px 63px;
    padding: 5% 0 7.5%;
  }

  .offer-boxes-item-dot {
    width: 22px;
    height: 22px;
  }

  .grid-item {
    width: 268px;
    height: 268px;
  }

  footer .container {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .offer-description {
    width: 720px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 63px 63px;
  }

  .grid-item {
    width: 198px;
    height: 198px;
  }
}
