footer {
  width: 100%;
  background-color: #4e4e4e;
}

footer p {
  color: #fff;
  font-size: 18px;
}

.footer-links {
  color: #fff;
  margin-left: 25.75px;
}

.footer-links i {
  margin-left: 25.75px;
}

footer .container {
  height: auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  footer .container {
    display: flex;
    flex-direction: row;
  }
}
